.playerContainerHome {
    top: 0;
    height: 100%
};
.usernameInputHome {

};


.selectionButtonHome {
    width: 35vh;
    height: 20vh;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 238, 112);
}
.selectionButtonHome:hover {
    color: rgb(255, 238, 112);
    background-color: rgb(139, 179, 128);
}
.selectionContainerHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}