.header{
    align-items: center;
    justify-content: center;
    height: 13vh;
    font-size: 11vh;
    
}

.footer {
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: small;

}

.footer,
.header {
    width: 100%;
    display: flex;
}